a:link{
	text-decoration:none; 
	color:inherit; 
}
a:visited{
	text-decoration:none; 
	color:inherit; 
}
a:hover{
	text-decoration:none;
	color:inherit; 
	}
a:active{
	text-decoration:none;
	color:inherit; 
}
hr{
	height:0px;border:none;border-top:1px ridge #EEEEEE;
	
}

@font-face{
            font-family:myFont;
            src:url('');
        }

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,dl,dt,dd,input{
margin: 0;
padding: 0;
font-family: myFont;

}

textarea{
	border:0px;
	background-color:#F7F7F7;
	padding:10px;
	color:#5E5E5E;
}

marquee{
	max-width:80px;font-size:12px;color:red;display:inline-block;
}


img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
a{text-decoration:none;}



#myDiv table tr:hover{
	background-color:#AAAAFF;
}

.pick_same{
	background:;
		transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari */
		transition-delay: 0.5s;
    -webkit-transition-delay:0.5s;
	}

.tiao{
	padding:3px 8px 3px 8px;background-color:#666666;color:white;
}

.classcp1{
	padding:2px 5px 2px 5px;color:white;display:inline-block;background-color:red;margin:4px 1px;cursor:pointer;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input,
.inputlist{
	width: 140px;
    height: 26px;
		font-family: myFont;
    margin: 0 5px 0 0;
    padding: 4px 2px;
    border: none;
    color:#000066 ;
    cursor: pointer;
    resize: none;
    border:1px solid #D5D5D5;
    background:#F7F7F7;
	text-align:left;
	margin-top:8px;
	margin-right:8px;
	font-size:13px;
	/**-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;**/
	text-overflow:ellipsis;
}

input[type="submit"],
input[type="button"]{
	width:auto;
	border: none;color:#3C2F41;
   background-color:#DDDDDD;
   padding:5px 10px;
   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/**border-bottom:2px solid #6F6F6F;**/
}
input[type="submit"]:hover,input[type="button"]:hover{
	background-color:#666666;color:white;
}

input[type="checkbox"],input[type="number"],input[type="radio"]{
	width: auto;
    height: auto;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #BBBBBB;
    color:none;
    
    background:none;
	text-align:left;
	margin-top:0;
	margin-left:0;
	font-family: Arial;
	

	text-overflow:ellipsis;
}



button{
	cursor:pointer;
	width:auto;
	border: none;color:#3C2F41;
   background-color:#DDDDDD;
   padding:5px 10px;
   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
button:hover{
	background-color:#666666;color:white;
}



@media print {
 .printclass{ display:none;}
}



.message{
	position:absolute;top:5px;left:5px;color:#202057;font-size:15px;z-index:999;
}

.mybutton{
	width:80px;height:22px;color:white;display:inline-block;padding:3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.cplb{
	overflow:hidden;max-height:15px;
	transition:max-height 1.0s;
-moz-transition:max-height 1.0s; 
-webkit-transition:max-height 1.0s; 
-o-transition:max-height 1.0s; 
}


.php1{
	text-align:left;
	position:relative;
	width:400px;
	height:auto;
	/**-webkit-box-shadow: 0px 1px 8px #BBBBBB;
    -moz-box-shadow: 0px 1px 8px #BBBBBB;
    box-shadow: 0px 1px 8px #BBBBBB;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;**/
	padding:20px;
	
}


.lotruku .php1word{
	display:inline-block;
}

.sure{
	position:fixed;top:20%;left:40%;width:160px;min-height:100px;background-color:#EEFFFF;color:;display:none;overflow:hidden;padding:20px;padding-bottom:50px;font-size:16px;
-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 13px #BBBBBB;
  -moz-box-shadow: 0px 10px 13px #BBBBBB;
  box-shadow: 0px 10px 13px #BBBBBB;
}
.sure1{
	position:absolute;bottom:0px;width:100px;height:35px;font-size:20px;text-align:center;padding-top:10px;
}


.sum_show{
	position:fixed;background-color:#EEEEEE;
	top:50%;right:50px;
	display:none;
	padding:20px;
	-webkit-box-shadow: 0px 14px 18px #BBBBBB;
  -moz-box-shadow: 0px 14px 18px #BBBBBB;
  box-shadow: 0px 14px 18px #BBBBBB;

}



.sum_show_x{
	position:absolute;right:20px;top:20px;cursor:pointer;
}
.sum_show_hide_x{
	text-align:right;cursor:pointer;
}


.sum_show_caozuo{
	cursor:pointer;text-align:center;font-size:12px;padding:5px 9px;background-color:#DDDDDD;
}

.hide{
	position:absolute;min-width:40px;margin:-150% 0px 0px -120%;display:none;
	-webkit-box-shadow: 0px 14px 18px #BBBBBB;
  -moz-box-shadow: 0px 14px 18px #BBBBBB;
  box-shadow: 0px 14px 18px #BBBBBB;

}

.hide li{
	padding:5px 20px 5px 25px;background-color:#FFFFEE;font-size:12px;
}

.hide li:hover{
	background-color:#77FF77;cursor:pointer;
}


///////////////////////ajaxdiv
.ajasdivout{
	position:fixed;right:0px;top:18px;min-height:400px;width:350px;background-color:white;
	-webkit-box-shadow: -8px 4px 18px #BBBBBB;
  -moz-box-shadow: -8px 4px 18px #BBBBBB;
  box-shadow: -8px 4px 18px #BBBBBB;
	transition: all 1s;
-moz-transition: all 1s;	/* Firefox 4 */
-webkit-transition: all 1s;	/* Safari 和 Chrome */
-o-transition: all 1s;
}
.ajasdivout2{
	position:fixed;right:0px;top:18px;min-height:400px;max-height:500px;overflow-x:hidden;overflow-y:scroll;width:400px;background-color:white;
	-webkit-box-shadow: -8px 4px 18px #BBBBBB;
  -moz-box-shadow: -8px 4px 18px #BBBBBB;
  box-shadow: -8px 4px 18px #BBBBBB;
	transition: all 1s;
-moz-transition: all 1s;	/* Firefox 4 */
-webkit-transition: all 1s;	/* Safari 和 Chrome */
-o-transition: all 1s;
}
.ajasdivx{
	position:absolute;right:0px;top:0px;background-color:;font-size:20px
}


.banngobutton{
	background-color:#FFAAAA;display:inline-block;color:white;padding:1px 2px;cursor: pointer;
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}



.nopo{
	position:absolute;top:1px;right:20px;font-size:12px;color:#555555;z-index:-10;
	animation:onpo 3s;

}




.nopox{
	display:inline-block;color:black;background-color:none;padding:3px 4px;margin-right:5px;border:1px solid #FF5577;font-size:12px;
	-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}


.tishi{
	position:fixed;bottom:40px;right:-500px;
	font-size:40px;padding:10px 25px;background-color:white;color:white;
	
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
		
	
	
animation:mytishi 5s;
-moz-animation:mytishi 5s; /* Firefox */
-webkit-animation:mytishi 5s; /* Safari and Chrome */
-o-animation:mytishi 5s; /* Opera */
}
@keyframes mytishi
{
0%   {right:-100px;}
20%  {right:20px;color:#46309D;background-color:#99FFEB;}
70%  {right:20px;color:#46309D;background-color:#99FFEB;}
100% {right:-300px;}
}
@-webkit-keyframes mytishi /* Safari and Chrome */
{
0%   {right:-100px;}
20%  {right:20px;color:#46309D;background-color:#99FFEB;}
70%  {right:20px;color:#46309D;background-color:#99FFEB;}
100% {right:-300px;}
}





