<div id="ajasdivout" class="ajasdivout" style="right:-450px">
<div id="ajasdiv" style="width:100%;height:100%"></div>
<a href="###"><div onclick="document.getElementById('ajasdivout').style.right='-450'" class="ajasdivx">X &nbsp; </div></a>

</div>
<div id="ajasdivout2" class="ajasdivout2" style="right:-450px">
<div id="ajasdiv2" style="width:100%;height:100%"></div>
<a href="###"><div onclick="document.getElementById('ajasdivout2').style.right='-450'" class="ajasdivx">X &nbsp; </div></a>

</div>

<div style="position:fixed;bottom:5px;right:5px;" onclick="location.reload();">
<a href="###"><img src="img/reload.png"/></a>
</div>