<div class="message">

<button type="button" onclick="td_remove();setTimeout(()=>{method5('tableExcel')},500);setTimeout(()=>{location.reload()},2000);">导出Excel</button>
<button type="button" onclick="checkboxsum_all()">全选</button> <button type="button" onclick="checkboxsum_allno()">全不选</button> <button type="button" onclick="checkboxsum_fan()">反选</button> 
<input type="number" style="width:40px" id="checkall1" value="1" onchange="checkall12()"/>~<input type="number" style="width:40px" id="checkall2" value="99" onchange="checkall12()"/>



</div>